<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <label for="nombre_usuario">Nombre de Usuario:</label>
            <input type="text" id="nombre_usuario" name="nombre_usuario" required><br><br>
            <label for="contraseña">Contraseña:</label>
            <input type="text" id="contraseña" name="contraseña" required><br><br>
            <button type="submit">Login</button>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                   <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>